@using David.UI.Models

@model LoginViewModel

@{
	ViewData["Title"] = "Log in";
}

@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>@ViewData["Title"] :: David</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

	<!-- Bootstrap 3.3.5 -->
	<style type="text/css">
		.pre {
			position: relative;
			bottom: 0.5ex;
			font-size: 50%;
			left: 0.5ex;
		}

		.validation-summary-valid {
			display: none;
		}
	</style>
	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<!-- Theme style -->
	<link href="~/css/adminlte.css" rel="stylesheet" />
	<!-- iCheck -->
	<link href="~/lib/icheck/all.css" rel="stylesheet" />

</head>
<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<a href="@Url.Action("Index", "Home")"><b>ARISE</b>s</a><span class="pre"> - pre</span>
		</div><!-- /.login-logo -->
		<div class="login-box-body">
			<p class="login-box-msg"><img src="http://www.datasolve.co.nz/images/logo.jpg" alt="logo" width="200px" height="50px" /><br />Sign in to start your session</p>

			@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()

				@Html.ValidationSummary(true, "Login failed. Check your login details.", new { @class = "alert alert-danger alert-dismissable" });

				@*<div asp-validation-summary="ValidationSummary.All" class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					</div>*@

				<div class="form-group has-feedback">
					@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
					<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
					@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
				</div>
				<div class="form-group has-feedback">
					@Html.PasswordFor(m => m.Password, new { @class = "form-control" })<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

				</div>
				<div class="row">
					<div class="col-xs-8">
						<div class="checkbox icheck">
							<label>
								@Html.CheckBoxFor(m => m.RememberMe)
								@Html.LabelFor(m => m.RememberMe)
							</label>
						</div>
					</div><!-- /.col -->
					<div class="col-xs-4">
						<button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
					</div><!-- /.col -->
				</div>
			}
			<hr />
			<a href="@Url.Action("ForgotPassword", "Account")">I forgot my password</a><br>
		</div><!-- /.login-box-body -->
	</div><!-- /.login-box -->
	<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>


	<!-- iCheck -->

	<script src="~/lib/icheck/icheck.js"></script>

	<script>
		$(function () {
			$('input').iCheck({
				checkboxClass: 'icheckbox_square-blue',
				radioClass: 'iradio_square-blue',
				increaseArea: '20%' // optional
			});
		});
	</script>


	@section Scripts {

		@{ Html.RenderPartial("ValidationScriptsPartial");  }

	}



</body>
</html>

