@model David.UI.Models.ApplicationUser
@{
	ViewData["Title"] = "Confirm Email";
}

@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>@ViewData["Title"] :: RMT-IMS by Rolpo</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

	<!-- Bootstrap 3.3.5 -->
	<style type="text/css">
		.pre {
			position: relative;
			bottom: 0.5ex;
			font-size: 50%;
			left: 0.5ex;
		}

		.validation-summary-valid {
			display: none;
		}
	</style>

	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<!-- Theme style -->
	<link href="~/css/adminlte.css" rel="stylesheet" />
	<!-- iCheck -->
	<link href="~/lib/icheck/square/blue.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<a href="@Url.Action("Index", "Home")"><b>ARISE</b>s</a><span class="pre"> - pre</span>
		</div><!-- /.login-logo -->
		<div class="login-box-body text-center">
			<p class="login-box-msg"><br />Confirm your email.</p>
			<hr />
			@using (Html.BeginForm("NewConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()

				<input type="hidden" name="uid" id="uid" value="@Model.Id" />
				<p>
					Hello @Model.FirstName !,
					You haven't still confirmed your email. <br />
				</p>
				<button type="submit">Click here to resend another email.</button>
			}
		</div><!-- /.login-box-body -->
	</div><!-- /.login-box -->



	@section Scripts {
		@{ Html.RenderPartial("_ValidationScriptsPartial"); }
	}



</body>
</html>
